<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<head lang="en">
    <meta charset="UTF-8">
    <title>MyCoupon</title>
</head>
<body>-->
    <div th:fragment="coupon">
        <script type="text/javascript">
            function saveCoupon() {
                $.ajax({
                    type: "POST",
                    url: "/saveCoupon"
                });
            }
        </script>
        <p>This is MyCoupon</p>

        <table>
            <tbody>
                <tr th:each ="c : ${coupons}">
                    <td th:utext="${c.bets.homeTeam}">...</td>
                    <td th:utext="${c.bets.awayTeam}">...</td>
                    <td th:utext="${c.bets.result}">...</td>
                    <td th:text="${#numbers.formatDecimal(c.bets.avgOdd, 0, 2)}">...</td>
                </tr>
            </tbody>
        </table>
        <!--<form th:action="@{/saveCoupon}" method="post">-->
            <button th:onclick="javascript:saveCoupon();">Save Coupon</button>
            <button>Clear</button>
    </div>

<!--</body>-->
</html>