<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
    <div th:fragment="coupon">
        <script type="text/javascript">
            function saveCoupon() {
                $.ajax({
                    type: "POST",
                    url: "/saveCoupon"
                });
                clearTBody();
            }

            function clearCoupon() {
                $.ajax({
                    type: "POST",
                    url: "/clearCoupon"
                });
                clearTBody();
            }
            function clearTBody() {
                var old_tbody = document.getElementById("couponTableBody");
                var new_tbody = document.createElement('tbody');
                old_tbody.parentNode.replaceChild(new_tbody, old_tbody);

                old_tbody = document.getElementById("bookmakerTotBody");
                //new_tbody = document.createElement('tbody');
                old_tbody.parentNode.replaceChild(new_tbody, old_tbody);
            }

            function removeBet(elem, matchId) {
                document.getElementById("couponTable").deleteRow(elem.parentNode.rowIndex);

                var url = "/removeBet" + "?id="+matchId;
                $('#couponDiv').load(url);

                /*$.ajax({
                    type: "GET",
                    url: "/removeBet",
                    data: {id:matchId}
                });*/
            }
        </script>
        <div class="couponTitle"><h3>MyCoupon</h3></div>

        <table id="couponTable" class="couponTable">
            <tbody id="couponTableBody">
            <tr class="couponTableRow" th:each="bet:${coupon.bets}">
                <td th:utext="${bet.homeTeam} +' - '+ ${bet.awayTeam}">...</td>
                <td th:utext="${bet.result}" style="text-align: center;">...</td>
                <td th:text="${#numbers.formatDecimal(bet.avgOdd, 0, 2)}" style="text-align: right;">...</td>
                <td class="removeBet" th:matchId="${bet.matchId}" th:onclick="javascript:removeBet(this, this.getAttribute('matchId'));">-</td>
            </tr>
            </tbody>
        </table>
        <div class="bookmakerTotDiv">
            <p style="font-weight: bold;">Available Bookmakers:</p>
            <table id="bookmakerTot" class="couponTable">
                <tbody id="bookmakerTotBody">
                    <tr th:each="b: ${coupon.bookmakerTot}">
                        <td th:utext="${b.bookmaker}">...</td>
                        <td th:text="${#numbers.formatDecimal(b.quoteTot, 0, 2)}" style="text-align: right;">...</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="couponButtonDiv">
            <button th:onclick="javascript:saveCoupon();" class="couponButton" style="background-color:green;">Save Coupon</button>
            <button th:onclick="javascript:clearCoupon();" class="couponButton" style="background-color:red;">Clear</button>
        </div>
    </div>
    </body>
</html>