<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title th:utext="${title}"></title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{/css/style.css}" />
   </head>
    
   <style>
      table th, table td {
         padding: 5px;
      }
      .message {
         color: blue;
      }
   </style>
    
   <body>
      <!-- Include _menu.html -->
      <div id="wrapper">
      <div id="tableDiv">
         <h2>Matches</h2>
         <table border="1">
               <tr>
                  <th>Time</th>
                  <th>Home Team</th>
                  <th>Away Team</th>
                  <th>1</th>
                  <th>X</th>
                  <th>2</th>
                  <th>OVER 2.5</th>
                  <th>UNDER 2.5</th>
               </tr>
               <tr th:each ="tbl : ${matches}">
                  <td th:utext="${tbl.match.time}">...</td>
                  <td th:utext="${tbl.match.homeTeam}">...</td>
                  <td th:utext="${tbl.match.awayTeam}">...</td>
                  <!--<td th:each ="a : ${tbl.avg} " th:utext="${a.avg}">...</td>-->
                  <td th:each="a: ${tbl.avg}" th:if="${a.id == 'H'}"
                       th:text="${#numbers.formatDecimal(a.avg, 0, 2)}">...</td>
                  <td th:each="a: ${tbl.avg}" th:if="${a.id == 'D'}"
                      th:text="${#numbers.formatDecimal(a.avg, 0, 2)}">...</td>
                  <td th:each="a: ${tbl.avg}" th:if="${a.id == 'A'}"
                      th:text="${#numbers.formatDecimal(a.avg, 0, 2)}">...</td>
                  <td th:each="a: ${tbl.avg}" th:if="${a.id == 'OVER'}"
                      th:text="${#numbers.formatDecimal(a.avg, 0, 2)}">...</td>
                  <td th:each="a: ${tbl.avg}" th:if="${a.id == 'UNDER'}"
                      th:text="${#numbers.formatDecimal(a.avg, 0, 2)}">...</td>
               </tr>
         </table>
      </div>

      <div class="coupon">
         <th:block th:include="fragments/coupon :: coupon">
         </th:block>
      </div>
   </div>

   </body>
</html>