<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
   <head>
      <title th:utext="${title}"></title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{/css/style.css}" />
   </head>
    
   <!--<style>
      table th, table td {
         padding: 5px;
      }
   </style>-->
    
   <body>
      <!-- Include _menu.html -->
      <div layout:fragment="content">

                 <div class="sidenav">
              <ul style="list-style-type:none;">
                  <li class="shownav"><a>Football</a>
                     <ul class="listnav"  th:each="divisionF : ${divisionsF}" style="list-style-type:none;">
                        <li>
                            <a th:text="${divisionF.division}" th:href="@{'/match?sport=Football&division='+${divisionF.division}+'&date='+${date}}"></a>
                        </li>
                      </ul>
                  </li>

                  <li class="shownav"><a>Basketball</a>
                    <ul class="listnav"  style="list-style-type:none;">
                          <li><a th:href="@{'/match?sport=Basket&date='+${date}}">NBA</a></li>
                      </ul>
                  </li>

                  <li class="shownav"><a>Tennis</a>
                    <ul class="listnav"  th:each="divisionT : ${divisionsT}" style="list-style-type:none;">
                        <li>
                            <a th:text="${divisionT.division}" th:href="@{'/match?sport=Tennis&division='+${divisionT.division}+'&date='+${date}}"></a>
                        </li>
                      </ul>
                  </li>


              </ul>
          </div>


          
          <div id="wrapper">
          <div id="tableDiv">
             <h2>Matches</h2>
            <table id="matchTable" border="1">
                <thead style="background-color: #343a40; color:white; font-weight:bold;">
                    <tr>
                        <th>TIME</th>
                        <th th:if="${!sport.equals('Tennis')}">HOME TEAM</th>
                        <th th:if="${!sport.equals('Tennis')}">AWAY TEAM</th>
                        <th th:if="${sport.equals('Tennis')}">PLAYER ONE</th>
                        <th th:if="${sport.equals('Tennis')}">PLAYER TWO</th>
                        <th>1</th>
                        <th th:if="${sport.equals('Football')}">X</th>
                        <th>2</th>
                        <th th:if="${sport.equals('Football')}">OVER 2.5</th>
                        <th th:if="${sport.equals('Football')}">UNDER 2.5</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each ="tbl : ${matches}">
                    <td th:utext="${tbl.match.Time}">...</td>
                    <td th:utext="${tbl.match.homeTeam}">...</td>
                    <td th:utext="${tbl.match.awayTeam}">...</td>
                    <td class="quoteArea" th:each="a: ${tbl.avg}" th:if="${a.id == 'H'}"
                        th:text="${#numbers.formatDecimal(a.avg, 0, 2)}" th:matchId="${tbl.match.id}" th:onclick="javascript:printOdd(this, this.getAttribute('matchId'));">...</td>
                    <td class="quoteArea" th:each="a: ${tbl.avg}" th:if="${a.id == 'D' and sport.equals('Football')}"
                        th:text="${#numbers.formatDecimal(a.avg, 0, 2)}" th:matchId="${tbl.match.id}" th:onclick="javascript:printOdd(this, this.getAttribute('matchId'));">...</td>
                    <td class="quoteArea" th:each="a: ${tbl.avg}" th:if="${a.id == 'A'}"
                        th:text="${#numbers.formatDecimal(a.avg, 0, 2)}" th:matchId="${tbl.match.id}" th:onclick="javascript:printOdd(this, this.getAttribute('matchId'));">...</td>
                    <td class="quoteArea" th:each="a: ${tbl.avg}" th:if="${a.id == 'OVER' and sport.equals('Football')}"
                        th:text="${#numbers.formatDecimal(a.avg, 0, 2)}" th:matchId="${tbl.match.id}" th:onclick="javascript:printOdd(this, this.getAttribute('matchId'));">...</td>
                    <td class="quoteArea" th:each="a: ${tbl.avg}" th:if="${a.id == 'UNDER' and sport.equals('Football')}"
                        th:text="${#numbers.formatDecimal(a.avg, 0, 2)}" th:matchId="${tbl.match.id}" th:onclick="javascript:printOdd(this, this.getAttribute('matchId'));">...</td>
                    </tr>
                </tbody>
            </table>
             <script type="text/javascript" th:inline="javascript">
                function printOdd(elem, matchId) {
                   //get the type of bet you are placing (get corresponding <th> to this clicked <td> element)
                   var index = Array.prototype.indexOf.call(elem.parentNode.children, elem);
                   var oddType = document.querySelector('#matchTable th:nth-child(' + (index+1) + ')').textContent;

                   switch(oddType){
                       case "1":
                           oddType="H";
                           break;
                       case "X":
                           oddType = "D";
                           break;
                       case "2":
                           oddType = "A";
                           break;
                       case "OVER 2.5":
                           oddType = "OVER";
                           break;
                       case "UNDER 2.5":
                           oddType = "UNDER";
                           break;
                   }
                        var url = "/printQuote" + "?id="+matchId+"&type="+oddType;
                        $('#couponDiv').load(url);
                }
             </script>
          </div>
              <div id="couponDiv" class="couponDiv">
                  <div th:fragment="coupon">
                      <script type="text/javascript">
                          function saveCoupon() {
                              $.ajax({
                                  type: "POST",
                                  url: "/saveCoupon"
                              });
                              clearTBody();
                          }

                          function clearCoupon() {
                              $.ajax({
                                  type: "POST",
                                  url: "/clearCoupon"
                              });
                              clearTBody();
                          }
                          function clearTBody() {
                              var old_tbody = document.getElementById("couponTableBody");
                              var new_tbody = document.createElement('tbody');
                              old_tbody.parentNode.replaceChild(new_tbody, old_tbody);
                          }
                      </script>
                      <div class="couponTitle"><h3>MyCoupon</h3></div>

                      <table id="couponTable" class="couponTable">
                          <tbody id="couponTableBody">
                          <tr class="couponTableRow" th:each="bet:${coupon.bets}">
                              <td th:utext="${bet.homeTeam} +' - '+ ${bet.awayTeam}">...</td>
                              <td th:utext="${bet.result}" style="text-align: center;">...</td>
                              <td th:text="${#numbers.formatDecimal(bet.avgOdd, 0, 2)}" style="text-align: right;">...</td>
                              <td class="removeBet" th:matchId="${bet.matchId}" th:onclick="javascript:removeBet(this, this.getAttribute('matchId'));">-</td>
                          </tr>
                          </tbody>
                      </table>
                      <div class="bookmakerTotDiv">
                          <p style="font-weight: bold;">Available Bookmakers:</p>
                          <table id="bookmakerTot" class="couponTable">
                              <tbody id="bookmakerTotBody">
                              <tr th:each="b: ${coupon.bookmakerTot}">
                                  <td th:utext="${b.bookmaker}">...</td>
                                  <td th:text="${#numbers.formatDecimal(b.quoteTot, 0, 2)}">...</td>
                              </tr>
                              </tbody>
                          </table>
                      </div>
                      <div class="couponButtonDiv">
                          <button th:onclick="javascript:saveCoupon();" class="couponButton" style="background-color:green;">Save Coupon</button>
                          <button th:onclick="javascript:clearCoupon();" class="couponButton" style="background-color:red;">Clear</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
   </body>
</html>