<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
   <head>
      <title>OrgaBet - Profile</title>
   </head>
    
   <style>
      table th, table td {
         padding: 5px;
      }
      .message {
         color: blue;
      }
   </style>
    
   <body>

      <!-- Include _menu.html -->
      <th:block></th:block>  
 <div layout:fragment="content">
      <h2>Profile </h2>
       <form id="form-profile" th:action="@{__${#httpServletRequest.requestURI}__}" method="post">
                <h1 class="h3 mb-3 font-weight-normal" th:utext="${user.username}">...</h1>
                <label for="inputFirstName" class="sr-only">First Name</label>
                <input type="text" name="firstName" id="inputUsername" class="form-control" placeholder="Firstname" required="" th:attr="value = ${user.firstName}" />
				<label for="inputLastName" class="sr-only">Last Name</label>
                <input type="text" name="lastName" id="inputUsername" class="form-control" placeholder="Lastname" required="" th:attr="value = ${user.lastName}"/>
                <button id="submit-form" class="btn btn-lg btn-primary btn-block" type="submit">Apply Edits</button>
            </form>
               
	  <h2>Coupons </h2>
	  ...
       </div>
   </body>
</html>