<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
   <head>
      <title>OrgaBet - Profile</title>
   </head>
    
   <style>
      table th, table td {
         padding: 5px;
      }
      .message {
         color: blue;
      }
   </style>
    
   <body>

      <!-- Include _menu.html -->
      <th:block></th:block>  
         <div layout:fragment="content">
      <h2>Profile </h2>
       
    
       
      <table border="1">
            <tr>
               <th>First Name</th>
               <th>Last Name</th>
               <th>Password</th>
            </tr>
            <tr>
               <td th:utext="${user.firstName}">...</td>
               <td th:utext="${user.lastName}">...</td>
               <td th:utext="${user.password}">...</td>
            </tr>
      </table>
       </div>
   </body>
</html>