<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
   <head>
      <title th:utext="${title}"></title>
   </head>
    
   <style>
      table th, table td {
         padding: 5px;
      }
      .message {
         color: blue;
      }
   </style>
    
   <body>
 
	    
      <!-- Include _menu.html -->
      <th:block></th:block>  

		
  	<div layout:fragment="content">    
   
  	   <div class="sidenav">
		  <a href="#">Football</a>
		  <a href="#">Tennis</a>
		  <a href="#">Basketball</a>
		</div>
		
      <h2>Statsis</h2>
      
       
       <div id="drop-menu">
			<ul id="menu">
				<li><a href="#">Period..</a>
					<ul>
						<li><a href="#">Last Year</a></li>
						<li><a href="#">Last 2 Years</a></li>
						<li><a href="#">Last 3 Years</a></li>
					</ul>
				</li>
			</ul>
		</div>
       
      <h2>Home</h2>
       
      <table border="1">
            <tr>
               <th>Team</th>
               <th>HW%</th>
               <th>HD%</th>
               <th>HL%</th>
               <th>HO%</th>
               <th>HU%</th>
               <th>HWO%</th>
               <th>HDO%</th>
               <th>HLO%</th>
               <th>HOO%</th>
               <th>HUO%</th>

            </tr>
            <tr th:each ="tbl : ${statsH}">
               <td th:utext="${tbl.team}">...</td>
               <td th:utext="${#numbers.formatDecimal(tbl.homeWin, 0, 2)}">...</td>
               <td th:utext="${#numbers.formatDecimal(tbl.homeDraw, 0, 2)}">...</td>
               <td th:utext="${#numbers.formatDecimal(tbl.homeLost, 0, 2)}">...</td>
               <td th:utext="${#numbers.formatDecimal(tbl.homeOver, 0, 2)}">...</td>
               <td th:utext="${#numbers.formatDecimal(tbl.homeUnder, 0, 2)}">...</td>
			   <td class="quoteArea" th:each="a: ${tbl.avgOdds}" th:if="${a.id == 'H'}"
                           th:text="${#numbers.formatDecimal(a.avg, 0, 2)}">...</td>
               <td class="quoteArea" th:each="a: ${tbl.avgOdds}" th:if="${a.id == 'D'}"
                           th:text="${#numbers.formatDecimal(a.avg, 0, 2)}">...</td>
               <td class="quoteArea" th:each="a: ${tbl.avgOdds}" th:if="${a.id == 'A'}"
                           th:text="${#numbers.formatDecimal(a.avg, 0, 2)}">...</td>
               <td class="quoteArea" th:each="a: ${tbl.avgOdds}" th:if="${a.id == 'OVER'}"
                           th:text="${#numbers.formatDecimal(a.avg, 0, 2)}">...</td>
               <td class="quoteArea" th:each="a: ${tbl.avgOdds}" th:if="${a.id == 'UNDER'}"
                           th:text="${#numbers.formatDecimal(a.avg, 0, 2)}">...</td>
            </tr>
      </table>
      
<h2>Away</h2>
      
      <table border="1">
            <tr>
               <th>Team</th>
               <th>AW%</th>
               <th>AD%</th>
               <th>AL%</th>
               <th>AO%</th>
               <th>AU%</th>
               <th>AWO%</th>
               <th>ADO%</th>
               <th>ALO%</th>
               <th>AOO%</th>
               <th>AUO%</th>
            </tr>
            <tr th:each ="tblA : ${statsA}">
               <td th:utext="${tblA.team}">...</td>
               <td th:utext="${#numbers.formatDecimal(tblA.homeWin, 0, 2)}">...</td>
               <td th:utext="${#numbers.formatDecimal(tblA.homeDraw, 0, 2)}">...</td>
               <td th:utext="${#numbers.formatDecimal(tblA.homeLost, 0, 2)}">...</td>
               <td th:utext="${#numbers.formatDecimal(tblA.homeOver, 0, 2)}">...</td>
               <td th:utext="${#numbers.formatDecimal(tblA.homeUnder, 0, 2)}">...</td>
               <td class="quoteArea" th:each="a: ${tblA.avgOdds}" th:if="${a.id == 'H'}"
                           th:text="${#numbers.formatDecimal(a.avg, 0, 2)}">...</td>
               <td class="quoteArea" th:each="a: ${tblA.avgOdds}" th:if="${a.id == 'D'}"
                           th:text="${#numbers.formatDecimal(a.avg, 0, 2)}">...</td>
               <td class="quoteArea" th:each="a: ${tblA.avgOdds}" th:if="${a.id == 'A'}"
                           th:text="${#numbers.formatDecimal(a.avg, 0, 2)}">...</td>
               <td class="quoteArea" th:each="a: ${tblA.avgOdds}" th:if="${a.id == 'OVER'}"
                           th:text="${#numbers.formatDecimal(a.avg, 0, 2)}">...</td>
               <td class="quoteArea" th:each="a: ${tblA.avgOdds}" th:if="${a.id == 'UNDER'}"
                           th:text="${#numbers.formatDecimal(a.avg, 0, 2)}">...</td>
            </tr>
      </table>
     </div>
   </body>
</html>